 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(244,0,0,0.3), rgba(244,0,0,0.3)), url("images/ca3dcaf2b66a7642d640a49e1508993c8245e643947c2572dd6c83939ca0002723e1db99216f3b055ee1a05bc1dd10b771718fc1e0565d8eaa9120_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-1 .u-shape-1 {
  width: 919px;
  height: 843px;
  margin: 240px 59px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 211px;
  margin: -836px 86px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 359px;
  height: 360px;
  object-position: 0% 50%;
  margin: -437px auto 0 29px;
}

.u-section-1 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: linear-gradient(#adcce9, #72efe9);
  margin: 457px auto 0 59px;
}

.u-section-1 .u-group-1 {
  width: 555px;
  min-height: 546px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -719px auto 0 86px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-icon-1 {
  width: 135px;
  height: 135px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 150px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 29px auto 0 42px;
  padding: 15px 41px 16px 40px;
}

.u-section-1 .u-image-3 {
  width: 528px;
  height: 522px;
  object-position: 0% 50%;
  margin: -360px 79px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 21px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -858px;
    margin-right: 163px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -406px;
    margin-left: 80px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 465px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    width: 384px;
    height: 380px;
    margin-top: -164px;
    margin-right: 21px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -905px;
    margin-right: 33px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -360px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -664px;
  }

  .u-section-1 .u-image-3 {
    width: 369px;
    height: 365px;
    margin-top: -178px;
    margin-right: -31px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-image-3 {
    width: 302px;
    height: 299px;
    margin-top: -141px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 341px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 277px;
    height: 274px;
    margin-top: -133px;
    margin-right: -80px;
    margin-bottom: 60px;
  }
}